.recipe-list {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.recipe-list h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.recipe-list ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipe-list li {
  margin-bottom: 20px;
  width: calc(30% - 20px);
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.recipe-list li:hover {
  transform: scale(1.05);
}

.recipe-list li img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.recipe-list li .recipe-details {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 8px 8px;
}

.recipe-list li h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.recipe-list li p {
  color: #666;
  font-size: 14px;
  text-decoration: none;
}

a {
  text-decoration: none !important;
}

.favorite-indicator {
  color: gold; /* Change the color of the star or use an icon/font for better customization */
  font-size: 18px; /* Adjust the size of the star or icon */
  margin-left: 5px; /* Add some spacing between the title and the indicator */
}


/* Rating */
.star-rating {
  display: inline-block;
  font-size: 1.2rem; /* Adjust the size as needed */
  color: #ffd700; /* Yellow color */
}

/* Style the stars when hovered */
.star-rating:hover {
  color: #ffcc00; /* Lighter yellow color on hover */
}